.main {
    width: 100%;
}

.header::before {
    content: none;
}

.header {
    margin-top: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.header>button>mat-icon {
    transform: rotateZ(45deg);
}

.form {
    /* width: 100%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

mat-form-field {
    width: 100%;
}

/* ____________________________________________________________ */
/* Style of View Bank */

.container>mat-dialog-content {
    padding-top: 15px;
}

.container>mat-dialog-content>.action {
    margin-bottom: 20px;
}

tr > td {
    padding: 10px;
}

.cf>h3 {
    font-size: 1.2rem;
}

.icon {
    cursor: pointer;
}

.cd>mat-icon {
    cursor: pointer;
}

.cd>span {
    font-weight: bold;
    font-size: 1.2rem;
}


.clicked {
    color: rgb(207, 177, 43);
}

.copied {
    background-color: #9267df;
    color: white;
}