<ng-container *ngIf="data.type == 'Form'">
  <ng-container *ngTemplateOutlet="formTemp"></ng-container>
</ng-container>

<ng-container *ngIf="data.type == 'View'">
  <ng-container *ngTemplateOutlet="viewTemp"></ng-container>
</ng-container>

<ng-template #viewTemp>
  <div class="container">
    <div mat-dialog-title class="header">
      <h2>{{ title }}</h2>
      <button
        [mat-dialog-close]="true"
        mat-mini-fab
        color="primary"
        aria-label="dialog close button"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-dialog-content class="mat-typography">
      <div class="action">
        <button
          mat-raised-button
          color="primary"
          (click)="
            edit_mode = true;
            title = 'Edit Password';
            data.type = 'Form';
            hide = false
          "
        >
          Edit
        </button>
        <button
          mat-raised-button
          color="accent"
          [ngClass]="{ copied: clickedIcons[0] }"
          [cdkCopyToClipboard]="
            'Account Name: ' +
            data.acc_name +
            '\n' +
            'URL: ' +
            data.url +
            '\n' +
            'Login ID: ' +
            data.loginid +
            '\n' +
            'Password: ' +
            data.password +
            '\n' +
            'Associated Email: ' +
            data.ass_email +
            '\n' +
            'Notes: ' +
            data.notes
          "
          aria-label="dialog content copy button"
        >
          Copy All
        </button>
      </div>

      <div class="cont">
        <table>
          <tr>
            <td class="cf cf1">
              <h3>Account Name:</h3>
            </td>
            <td class="icon ic1">
              <mat-icon
                color="primary"
                [ngClass]="{ clicked: clickedIcons[1] }"
                (click)="clickedIcons[1] = !clickedIcons[1]"
                [cdkCopyToClipboard]="data.acc_name"
                fontIcon="content_copy"
              ></mat-icon>
            </td>
            <td class="cd cd1">
              <span>{{ data.acc_name }}</span>
            </td>
          </tr>
          <tr>
            <td class="cf cf2">
              <h3>URL:</h3>
            </td>
            <td class="icon ic2">
              <mat-icon
                color="primary"
                [ngClass]="{ clicked: clickedIcons[2] }"
                (click)="clickedIcons[2] = !clickedIcons[2]"
                [cdkCopyToClipboard]="data.url"
                fontIcon="content_copy"
              ></mat-icon>
            </td>
            <td class="cd cd2">
              <span>{{ data.url }}</span>
            </td>
          </tr>
          <tr>
            <td class="cf cf3">
              <h3>Login ID:</h3>
            </td>
            <td class="icon ic3">
              <mat-icon
                color="primary"
                [ngClass]="{ clicked: clickedIcons[3] }"
                (click)="clickedIcons[3] = !clickedIcons[3]"
                [cdkCopyToClipboard]="data.loginid"
                fontIcon="content_copy"
              ></mat-icon>
            </td>
            <td class="cd cd3">
              <span>{{ data.loginid }}</span>
            </td>
          </tr>
          <tr>
            <td class="cf cf4">
              <h3>Password:</h3>
            </td>
            <td class="icon ic4">
              <mat-icon
                color="primary"
                [ngClass]="{ clicked: clickedIcons[4] }"
                (click)="clickedIcons[4] = !clickedIcons[4]"
                [cdkCopyToClipboard]="data.password"
                fontIcon="content_copy"
              ></mat-icon>
            </td>
            <td>
              <button
                mat-icon-button
                matSuffix
                (click)="status = !status"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="status"
              >
                <mat-icon>{{
                  status ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </td>
            <td class="cd cd4">
              <span>{{ data.password | passMask : status }}</span>
            </td>
          </tr>
          <tr>
            <td class="cf cf5">
              <h3>Associated Email:</h3>
            </td>
            <td class="icon ic5">
              <mat-icon
                color="primary"
                [ngClass]="{ clicked: clickedIcons[5] }"
                (click)="clickedIcons[5] = !clickedIcons[5]"
                [cdkCopyToClipboard]="data.ass_email"
                fontIcon="content_copy"
              ></mat-icon>
            </td>
            <td class="cd cd5">
              <span>{{ data.ass_email }}</span>
            </td>
          </tr>
          <tr>
            <td class="cf cf6">
              <h3>Notes:</h3>
            </td>
            <td class="icon ic6">
              <mat-icon
                color="primary"
                [ngClass]="{ clicked: clickedIcons[6] }"
                (click)="clickedIcons[6] = !clickedIcons[6]"
                [cdkCopyToClipboard]="data.notes"
                fontIcon="content_copy"
              ></mat-icon>
            </td>
            <td class="cd cd6">
              <span>{{ data.notes }}</span>
            </td>
          </tr>
        </table>
      </div>
    </mat-dialog-content>

    <mat-divider></mat-divider>

    <mat-dialog-actions align="center">
      <button
        mat-raised-button
        color="warn"
        [mat-dialog-close]="true"
        (click)="onDelete(data.id)"
      >
        Delete This Data
      </button>
    </mat-dialog-actions>
  </div>
</ng-template>

<ng-template #formTemp>
  <div class="main">
    <div mat-dialog-title class="header">
      <h2>{{ title }}</h2>
      <button
        [mat-dialog-close]="true"
        mat-mini-fab
        color="primary"
        aria-label="dialog close button"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-dialog-content class="mat-typography">
      <form class="form" [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label for="url">URL</mat-label>
          <input matInput formControlName="url" />
          <mat-error
            *ngIf="isUrlInvalid() && !form.get('url')?.errors?.['required']"
            >Invalid URL</mat-error
          >
          <mat-error *ngIf="form.get('url')?.errors?.['required']"
            >This field is required</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="acc_name">Account Name</mat-label>
          <input matInput formControlName="acc_name" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="loginid">Login ID</mat-label>
          <input matInput formControlName="loginid" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="ass_email">Associated Email</mat-label>
          <input matInput formControlName="ass_email" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="notes">Notes</mat-label>
          <textarea matInput formControlName="notes"></textarea>
        </mat-form-field>
      </form>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button
        *ngIf="!edit_mode"
        mat-raised-button
        color="warn"
        (click)="onClear()"
      >
        Clear
      </button>
      <button
        *ngIf="!edit_mode"
        mat-raised-button
        color="primary"
        [mat-dialog-close]="true"
        [disabled]="!form.valid"
        (click)="onSubmit()"
      >
        Submit
      </button>

      <button
        *ngIf="edit_mode"
        mat-raised-button
        color="accent"
        [mat-dialog-close]="true"
        [disabled]="!form.valid"
        (click)="onUpdate()"
      >
        Update
        </button>
    </mat-dialog-actions>
  </div>
</ng-template>
