<ng-container *ngIf="data.type=='Form'">
    <ng-container *ngTemplateOutlet="template"></ng-container>
</ng-container>

<ng-container *ngIf="data.type=='View'">
    <ng-container *ngTemplateOutlet="template1"></ng-container>
</ng-container>


<ng-template #template1>
    <div class="container">
        <div mat-dialog-title class="header">
            <h2>{{title}}</h2>
            <button [mat-dialog-close]="true" mat-mini-fab color="primary" aria-label="dialog close button">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <mat-dialog-content class="mat-typography">
            <div class="action">
                <button mat-raised-button color="primary"
                    (click)="edit_mode=true;title='Edit Password';data.type='Form';hide=false;">Edit</button>
                <button mat-raised-button color="accent" [ngClass]="{ 'copied': clickedIcons[0]}"
                    [cdkCopyToClipboard]="'Name: '+data.name+'\n'+'URL: '+data.url+'\n'+'Username: '+data.username+'\n'+'LogIn ID: '+data.loginid+'\n'+'Password: '+data.pass+'\n'+'Note: '+data.note"
                    aria-label="dialog content copy button">
                    Copy All
                </button>
            </div>

            <div class="cont">

                <div class="cont-fild">
                    <div class="cf cf1">
                        <h3>Name:</h3>
                    </div>
                    <div class="cf cf2">
                        <h3>URL:</h3>
                    </div>
                    <div class="cf cf3">
                        <h3>Username:</h3>
                    </div>
                    <div class="cf cf4">
                        <h3>LogIn ID:</h3>
                    </div>
                    <div class="cf cf5">
                        <h3>Password:</h3>
                    </div>
                    <div class="cf cf6">
                        <h3>Note:</h3>
                    </div>
                </div>


                <div class="cont-data">
                    <div class="cl1">
                        <div class="icon ic1">
                            <mat-icon color="primary" [ngClass]="{ 'clicked': clickedIcons[1] }"
                                (click)="clickedIcons[1]=!clickedIcons[1]" [cdkCopyToClipboard]="data.tit"
                                fontIcon="content_copy"></mat-icon>
                        </div>
                        <div class="icon ic2">
                            <mat-icon color="primary" [ngClass]="{ 'clicked': clickedIcons[2] }"
                                (click)="clickedIcons[2]=!clickedIcons[2]" [cdkCopyToClipboard]="data.tit"
                                fontIcon="content_copy"></mat-icon>
                        </div>
                        <div class="icon ic3">
                            <mat-icon color="primary" [ngClass]="{ 'clicked': clickedIcons[3] }"
                                (click)="clickedIcons[3]=!clickedIcons[3]" [cdkCopyToClipboard]="data.tit"
                                fontIcon="content_copy"></mat-icon>
                        </div>
                        <div class="icon ic4">
                            <mat-icon color="primary" [ngClass]="{ 'clicked': clickedIcons[4] }"
                                (click)="clickedIcons[4]=!clickedIcons[4]" [cdkCopyToClipboard]="data.tit"
                                fontIcon="content_copy"></mat-icon>
                        </div>
                        <div class="icon ic5">
                            <mat-icon color="primary" [ngClass]="{ 'clicked': clickedIcons[5] }"
                                (click)="clickedIcons[5]=!clickedIcons[5]" [cdkCopyToClipboard]="data.tit"
                                fontIcon="content_copy"></mat-icon>

                            <button mat-icon-button matSuffix (click)="status = !status"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="status">
                                <mat-icon>{{status ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </div>
                        <div class="icon ic6">
                            <mat-icon color="primary" [ngClass]="{ 'clicked': clickedIcons[6] }"
                                (click)="clickedIcons[6]=!clickedIcons[6]" [cdkCopyToClipboard]="data.tit"
                                fontIcon="content_copy"></mat-icon>
                        </div>
                    </div>


                    <div class="cl2">
                        <div class="cd cd1">
                            <span>{{data.name}}</span>
                        </div>
                        <div class="cd cd2">
                            <span>{{data.url}}</span>
                        </div>
                        <div class="cd cd3">
                            <span>{{data.username}}</span>
                        </div>
                        <div class="cd cd4">
                            <span>{{data.loginid}}</span>
                        </div>
                        <div class="cd cd5">
                            <span>{{ data.pass | passMask : status }}</span>
                        </div>
                        <div class="cd cd6">
                            <span>{{data.note}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-dialog-content>

        <mat-divider></mat-divider>

        <mat-dialog-actions align="center">
            <button mat-raised-button color="warn" [mat-dialog-close]="true"
                [disabled]="!form.valid" (click)="onDelete(data.id)">Delete This Data</button>
        </mat-dialog-actions>

    </div>
</ng-template>


<ng-template #template>
    <div class="main">
        <div mat-dialog-title class="header">
            <h2>{{title}}</h2>
            <button [mat-dialog-close]="true" mat-mini-fab color="primary" aria-label="dialog close button">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <mat-dialog-content class="mat-typography">
            <form class="form" [formGroup]="form">
                <mat-form-field appearance="outline">
                    <mat-label for="url">URL</mat-label>
                    <input matInput formControlName="url">
                    <mat-error *ngIf=" isUrlInvalid() && !form.get('url')?.errors?.['required'] ">Invalid
                        URL</mat-error>
                    <mat-error *ngIf="form.get('url')?.errors?.['required']">This field is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label for="name">Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label for="username">Username</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label for="loginid">Login ID</mat-label>
                    <input matInput formControlName="loginid">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label for="notes">Notes</mat-label>
                    <textarea matInput formControlName="notes"></textarea>
                </mat-form-field>
            </form>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button *ngIf="!edit_mode" mat-raised-button color="warn" (click)="onClear()">Clear</button>
            <button *ngIf="!edit_mode" mat-raised-button color="primary" [mat-dialog-close]="true"
                [disabled]="!form.valid" (click)="onSubmit()">Submit</button>

            <button *ngIf="edit_mode" mat-raised-button color="accent" [mat-dialog-close]="true"
                [disabled]="!form.valid" (click)="onUpdate()">Update</button>
        </mat-dialog-actions>

    </div>
</ng-template>