<div class="main">
    <div class="sidebar">
        <div class="sidebar-manu">
            <ul>
                @for (item of items; track $index) {
                    <li [routerLink]="item.link" routerLinkActive="active">
                        <a>
                            <mat-icon>{{ item.icon }}</mat-icon>
                            <span>{{ item.name }}</span>
                        </a>
                    </li>
                }
                <li [routerLink]="''">
                    <a (click)="logOut()">
                        <mat-icon>LOGOUT!!</mat-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
