
<div class="mat-elevation-z8 cover">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Global Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Filter all columns"
    />
  </mat-form-field>
  <div class="data-body">
    <table mat-table [dataSource]="dataTable" matSort class="full-width">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
  
      <!-- URL Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>URL</th>
        <td mat-cell *matCellDef="let element">{{ element.url }}</td>
      </ng-container>
  
      <!-- Password Column -->
      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Password</th>
        <td mat-cell *matCellDef="let element">{{ element.password }}</td>
      </ng-container>
  
      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
      </ng-container>
  
      <!-- Notes Column -->
      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Notes</th>
        <td mat-cell *matCellDef="let element">{{ element.notes }}</td>
      </ng-container>
  
      <!-- Last Seen Column -->
      <ng-container matColumnDef="last_seen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Seen</th>
        <td mat-cell *matCellDef="let element">{{ element.last_seen }}</td>
      </ng-container>
  
      <!-- Login ID Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button  (click)="openViewDialog(element.id,element.name,element.url,element.username,element.loginid,element.password,element.notes)">
            View
          </button>
        </td>
      </ng-container>
  
      <!-- Table Header and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>


  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>

  <!-- Footer -->
  <div class="footer">
    <div class="add-data">
      <button
        mat-fab
        matTooltip="Add New"
        (click)="openFormDialog()"
        aria-label="openDialog button"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
