<!-- <app-header [status]="btnS"></app-header> -->

<div class="main">
    <div class="co-main">

        <div class="m-cont">
            <div class="m-logo">
                <div class="login">
                    <span class="l-text">SIGN UP</span>
                    <span class="s-text">OR <a routerLink="/login" class="signup"> ALREADY HAVE AN ACCOUNT </a> </span>
                </div>
            </div>
        </div>
        <div class="m-body">
            <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Master Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirm Master Password</mat-label>
                <input matInput [type]="chide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="chide = !chide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="chide">
                    <mat-icon>{{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button mat-raised-button color="primary">SIGN UP</button>

        </div>
    </div>
</div>