<app-header [status]="btnS"></app-header>

<div class="main">
    <div class="co-main">

        <div class="m-cont">
            <div class="m-logo">
                <div class="login">
                    <span class="l-text">LOG IN</span>
                    <span class="s-text">OR <a routerLink="/signup" class="signup">CREATE AN ACCOUNT</a> </span>
                </div>
            </div>
        </div>
        
        <div class="m-body">
            <form class="form" [formGroup]="form">

                <mat-form-field class="fields" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="pat@example.com" formControlName="email">
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
    
                <mat-form-field class="fields" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
    
                <button mat-raised-button color="accent">Log In</button>
            </form>


            <a routerLink="/forgot_password" class="forgotp">Forgot Password</a>
            
        </div>
    </div>
</div>