.main {
    width: 100%;
}

.header::before {
    content: none;
}

.header {
    margin-top: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.header>button>mat-icon {
    transform: rotateZ(45deg);
}

.form {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}


mat-form-field {
    width: 100%;
    margin: 10px 0;
}

mat-error {
    font-size: 12px;
}

/* ____________________________________________________________ */
/* Style of View Note */

.container>mat-dialog-content {
    padding-top: 15px;
    padding: 20px;
}

.container>mat-dialog-content>.action {
    margin-bottom: 20px;
}

.action> :first-child {
    margin-right: 1.5rem;
}

.cf>h3,
.cd>span {
    font-size: 1.1rem;
}

.cd>span {
    font-weight: bold;
}

tr > td{
    padding: 10px ;
}

.copied{
    background-color: #f2ff80;
}