.main {
    width: 100%;
}

.header::before {
    content: none;
}

.header {
    margin-top: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.header>button{
    background-color: #fa4f4f;
}

.header>button>mat-icon {
    transform: rotateZ(45deg);

}

.form {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

mat-form-field {
    width: 100%;
}

.exp_date>mat-form-field {
    width: 250px !important;
}

.exp_date {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.exp_date>mat-label {
    width: 100px;
    height: 40px;
    align-self: center;
}
.exp_date>mat-form-field{
    margin: 0 0 0 35px;
}

/* ____________________________________________________________ */
/* Style of View ATM */


.container>mat-dialog-content {
    padding-top: 15px;
}

.container>mat-dialog-content>.action {
    margin-bottom: 20px;
}

.action> :first-child{
    margin-right: 1.5rem;
}

.tdata {
    width: 100%;
    margin: 3rem 0;
}
.tdata > tr {
    height: 4rem;
}
.icon{
    width: 4rem;
}

.icon>mat-icon {
    cursor: pointer;
}

.cf {
    text-align: start;
}

.sd {
    min-width: 250px;
}
.cd>span, .cf {
    font-weight: bold;
    font-size: 1.2rem;
}

.item>mat-form-field {
    width: 250px;
}

.clicked {
    color: rgb(207, 177, 43);
}

.copied{
    background-color: #f2ff80;
}